<%- include("partials/header") -%>

<body class="text-center">
    <main class="form-signin w-100 m-auto">
    
      <form action="/delete"  method="POST">
        <img class="mb-4" src="images/leetCode.png" alt="" >
        <h1 class="h3 mb-3 fw-normal text-dark">Enter your informaiton to unsubscribe</h1>
        <p class=""></p>
        <div class="form-floating">
            <input type="text" name="fName" class="form-control top" id="firstName" placeholder="First Name" required>
            <label for="firstName">Name</label>
          </div>
        <div class="form-floating bottom">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-danger" type="submit">Unsubscribe</button>
        <p class="mt-5 mb-3 text-muted">&copy; CodeMail Co</p>
      </form>
    </main>

<%- include("partials/footer") -%>