<%- include("partials/header") -%>

<body>
    <div class="d-flex align-items-center justify-content-center vw-100 vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-warning">Thank You</h1>
            <p class="fs-3">Your have officaly unsubscribed from codeMail!</p>
            <p class="lead">
                We wish you the best and thank you for using codeMail</a>. 
              </p>
        </div>
    </div>
</body>

<%- include("partials/footer") -%>
    
