<%- include("partials/header") -%>

<body>
    <div class="d-flex align-items-center justify-content-center vw-100 vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Looks like there was an error.</p>
            <p class="lead">
                Please try again later or try contacting the developer.
              </p>
            <form action="/failure" method="post">
                <button class="btn btn-warning btn-lg" type="submit" name="button">Try Again</button>
            </form>
        </div>
    </div>
</body>

<%- include("partials/footer") -%>