<%- include("partials/header") -%>

<body class="text-center">
<main class="form-signin w-100 m-auto">

  <form action="/"  method="POST">
    <img class="mb-4" src="images/leetCode.png" alt="" >
    <h1 class="h3 mb-3 fw-normal text-dark">Password Reset</h1>
    <p>Please enter a new password with your email address. You will receive a code after via email which you must enter to update your password. </p>

    <p class="text-danger">errorMessage</p>
    <div class="form-floating">
        <input type="text" name="name" class="form-control top" id="passwordOne" placeholder="Password" required>
        <label for="name">New password</label>
      </div>
      <div class="form-floating">
        <input type="text" name="password" class="form-control top" id="passwrodTwo" placeholder="Password" required>
        <label for="password">New password</label>
      </div>
    <div class="form-floating bottom">
      <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
      <label for="email">Email address</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-success mb-1" type="submit">Update</button>
  </form>
</main>
</body>

<%- include("partials/footer") -%>
    
