<%- include("partials/header") -%>

<body class="text-center">
<main class="form-signin w-100 m-auto">
  <div id="canvas-container"></div>
  <form action="/"  method="POST">
    <h1 class="text-warning">Sorry I have implemented this yet.</h1>
    <h4><a href="/">Go back</a></h4>
  <p class="mt-5 text-muted">&copy; LeetMail Co</p>
</main>

<%- include("partials/footer") -%>
    
