<%- include("partials/header") -%>

<body class="text-center">
<main class="form-signin w-100 m-auto text-align">
  <div id="canvas-container"></div>
  <h1 class="h3 mb-3 fw-normal text-dark">Welcome to <b class="text-warning">Leet</b><b class="text-dark">Mail!</b></h1>
  <a class="btn btn-success m-auto" href="/login">Sign in</a>
  <a class="btn btn-warning m-auto" href="/signup">Register new account</a>
  <p class="mt-5 text-muted">&copy; LeetMail Co</p>
</main>

<%- include("partials/threejsFooter") -%>