<%- include("partials/header") -%>

<body>
    <div class="d-flex align-items-center justify-content-center vw-100 vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-warning">Sorry please try again some other time</h1>
            <p class="fs-3">It looks like we have reached our max amount of users, maybe try again some time in the future when LeetMail expands.</p>
        </div>
    </div>

<%- include("partials/footer") -%>
    
