<%- include("partials/header") -%>

<body class="text-center">
<main class="form-signin w-100 m-auto">

  <form action="/"  method="POST">
    <img class="mb-4" src="images/leetCode.png" alt="" >
    <h1 class="h3 mb-3 fw-normal text-dark">Sign Up and get reminders to stay on the grid! </h1>
    <p class="">Toggle which days you want CodeMail to send you a random <code>LeetCode</code> question via Email.</p>

    <input name="days" type="checkbox" class="btn-check" id="btn-check-1" value="1" autocomplete="off">
    <label class="mb-2 btn btn-outline-warning" for="btn-check-1">Monday</label>
    <input name="days" type="checkbox" class="btn-check" id="btn-check-2" value="2" autocomplete="off">
    <label class="mb-2 btn btn-outline-warning" for="btn-check-2">Tuesday</label>
    <input name="days" type="checkbox" class="btn-check" id="btn-check-3" value="3" autocomplete="off">
    <label class="mb-2 btn btn-outline-warning" for="btn-check-3">Wednesday</label>
    <input name="days" type="checkbox" class="btn-check" id="btn-check-4" value="4" autocomplete="off">
    <label class="mb-2 btn btn-outline-warning" for="btn-check-4">Thursday</label>
    <input name="days" type="checkbox" class="btn-check" id="btn-check-5" value="5" autocomplete="off">
    <label class="mb-2 btn btn-outline-warning" for="btn-check-5">Friday</label>
    <input name="days" type="checkbox" class="btn-check" id="btn-check-6" value="6" autocomplete="off">
    <label class="mb-2 btn btn-outline-warning" for="btn-check-6">Saturday</label>
    <input name="days" type="checkbox" class="btn-check" id="btn-check-7" value="0" autocomplete="off">
    <label class="mb-3 btn btn-outline-warning" for="btn-check-7">Sunday</label>

    <div> 
      <input name="diffs" type="checkbox" class="btn-check rounded-pill" id="easy-check" value="easy" autocomplete="off">
      <label class="mb-3 btn btn-outline-success rounded-pill" for="easy-check">Easy</label>
      <input name="diffs" type="checkbox" class="btn-check rounded-pill" id="medium-check" value="medium" autocomplete="off">
      <label class="mb-3 btn btn-outline-warning rounded-pill" for="medium-check">Medium</label>
      <input name="diffs" type="checkbox" class="btn-check rounded-pill" id="hard-check" value="hard" autocomplete="off">
      <label class="mb-3 btn btn-outline-danger rounded-pill" for="hard-check">Hard</label>
    </div>

    <p class="text-danger"><%=errorMessage%></p>
    <div class="form-floating">
        <input type="text" name="fName" class="form-control top" id="firstName" placeholder="First Name" required>
        <label for="firstName">Name</label>
      </div>
    <div class="form-floating bottom">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>

    <button class="w-100 btn btn-lg btn-warning" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted">&copy; CodeMail Co</p>
  </form>

</main>
</body>

<%- include("partials/footer") -%>
    
