<%- include("partials/header") -%>

<body>
    <div class="d-flex align-items-center justify-content-center vw-100 vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-warning"><%=message%></h1>
            <p class="fs-3">Your all set.</p>
            <p class="lead">
                If you wish to change the your schedule please submit another request <a href="/" class="text-warning">here</a>. 
              </p>
              <p class="lead">
                (If you didn't get a conformation email check and your spam.)
              </p>
        </div>
    </div>

<%- include("partials/footer") -%>
    
